<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.testcase.agent.TC018"/>
      <class name="com.testcase.agent.TC019"/>
      <class name="com.testcase.agent.TC016"/>
      <class name="com.testcase.agent.TC017"/>
      <class name="com.testcase.agent.TC025"/>
      <class name="com.testcase.agent.TC015"/>
      <class name="com.testcase.agent.TC023"/>
      <class name="com.testcase.agent.TC024"/>
      <class name="com.testcase.agent.TC021"/>
      <class name="com.testcase.agent.TC022"/>
      <class name="com.testcase.agent.TC020"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
